<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>

<title>Keep It Simple</title>

<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
<meta name="author" content="Erwin Aligam - styleshout.com" />
<meta name="description" content="Site Description Here" />
<meta name="keywords" content="keywords, here" />
<meta name="robots" content="index, follow, noarchive" />
<meta name="googlebot" content="noarchive" />

<link rel="stylesheet" type="text/css" media="screen" href="static/css/screen.css" />

</head>
<body>

	<!-- header starts-->
	<div id="header-wrap"><div id="header" class="container_16">						
		
		<h1 id="logo-text"><a href="http://www.nephoscale.com" title="">NephoScale</a></h1>
		<p id="intro">Homicide in the cloud...</p>
		
		<!-- navigation -->
		<div  id="nav">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/list">View Rates</a></li>
				<li id="current"><a href="/about">About Demo</a></li>		
			</ul>		
		</div>		
		
		<div id="header-image"></div> 		
		
		<form id="quick-search" action="/list" method="get" >
			<p>
			<label for="qsearch">Search:</label>
			<input class="tbox" id="qsearch" type="text" name="name" value="Search..." title="Start typing and hit ENTER" />
			<input class="btn" alt="Search" type="image" name="searchsubmit" title="Search" src="static/images/search.gif" />
			</p>
		</form>					
	
	<!-- header ends here -->
	</div></div>
	
	<!-- content starts -->
	<div id="content-outer">
	
	<center><table width=80%><tr><td>
	
	<h3>About This Demo</h3>
	
	<p>This demo deploys three mongo database servers and configures them in a replicaset for redundancy.  It also deploys a Flask based python web application that uses the mongo database servers to deliver a view of the mongo data.  The application is deployed using a single CloudScript template which orchestrates the creation of all resources or even missing resources.</p>
	
	<h3>Servers</h3>
	
	<table width="80%">
	<tr><th>Server</th><th>IP Addresses</th><th>Role</th></tr>
	<tr><td>mongo1</td><td>69.50.230.28, 10.129.148.4</td><td>Database (Primary)</td></tr>
	<tr><td>mongo2</td><td>69.50.230.29, 10.129.148.5</td><td>Database (Secondary)</td></tr>
	<tr><td>mongo3</td><td>69.50.230.30, 10.129.148.6</td><td>Database (Secondary)</td></tr>
	<tr><td>mongoapp</td><td>198.89.115.65, 10.129.148.7</td><td>Web App Server</td></tr>
	</table>
	
	<h3>Deployment</h3>

	<p>The applicaton uses <b>first boot scripts</b> on NephoScale base images to create servers that do useful work from basic images.  Each of the first boot scripts downloads a <a href="https://github.com/alanmeadows/mongodemo">github</a> hosted application and depending on the role of the server, runs the appropriate setup scripts.</p>

	<h3>Idempotency</h3>

	<p>The demo utilizes NephoScale CloudScript and idempotency to create missing resources (servers) which are missing and need to be created from scratch. This means that we can make a simple change on github, delete our <b>mongoapp</b> server and re-run the CloudScript document.  The NephoScale platform will intelligently create the missing resource using the latest github commits.</p>

	</td></tr></table></center>
        </div>
  

</body>
</html>
